* {
	padding: 0%;
	margin: 0%;
}

body {
	width: 80%;
	margin: auto;
	font-family: 'Raleway', sans-serif;
	background: #FFF; /*#504F59; /*#000;/* #FFF; */
	color: #FFF;
}

header {
	display: block;
	margin: 8% auto 5%;
	text-align: center;
}

main {
	width: 70%;
	padding: 2%;
	margin: auto;
	padding-top: 0%;
}

ul {
	display: block;
	clear: left;
}

main > ul {
	margin: auto;
}

li ul {
	margin: auto 0%;
}

aside ul {
	float: right;
}

li {
	list-style: none;
	padding: 2%;
	margin: 2%;
}

li li {
	list-style: none;
	padding: 1%;
	margin: 0%;
}

li li li {
	list-style: none;
	padding: 0%;
}

aside ul li {
	list-style: none;
}

ul.langs li {
	display: inline;
	margin-right: 2%;
}

#interests li {
	list-style: disc outside none;
	list-style: none;
}

li p {
	display: inline;
}

h1 {
	color: #141AA6; /*#FFF; /*#7A3733; */
	font-weight: normal;
	font-size: 500%;
}

h2 {
	display: none;
}

h3 {
	font-weight: bold;
	font-size: 150%;
	padding-bottom: 1%;
}

h4 {
	display: block;
	width: 50%;
	margin-right: 5%;
	float: left;
	font-weight: 900;
}

aside {
	display: block;
	float: right;
	width: 40%;
	text-align: right;
	font-weight: bold;
}

a {
	text-decoration: none;
	font-size: 150%;
	color: #303373; /*#143EA6; /*#858484; /*#3A1A18;*/
}

ul.odd {
	background-color: #04B2D9; /* #265C3B; /* #8ACE92; */
}

li.oddeven {
	background-color: #048ABF; /*#1C422B;/* #689B6E;/* #1C6850; */
}

h3.odd {
	color: #048ABF; /* #FFF; /*#143EA6; /* #61E896; /*265C3B;*/
}

ul.odd h4 {
	color: #FFF;
}



ul.even {
	background-color: #DE703C; /* #6D312D; /*#7A3733; */
}

li.eveneven {
	background-color: #DE873C; /*#A62E14; /*#3A1A18; */
}

h3.even {
	color: #DE703C; /*#DF645E; /*#7A3733;*/
}

ul.even h4 {
	color: #FFF; /*#DF645E; /* #C6928F; */
}




li a:hover {
	color: #FFF;
}

/*#projects {
	background-color: #7152FB;
}

#proj {
	color: #7152FB;
}

li.projeven {
	background-color: #614ED0;
}

#education {
	background-color: #FA3E3E;
}

#ed {
	color: #FA3E3E;
}

#skillslangs {
	background-color: #7152FB;
}

#skills {
	color: #7152FB;
}

li.skillseven {
	background-color: #614ED0;
}

#awards {
	background-color: #00C36C;
}

li.awardseven {
	background-color: #008349;
}

#aaa {
	color: #00C36C;
}

#experience {
	background-color: #7152FB /*1173DC;;
}

li.expreven {
	background-color: #614ED0 /*0E5CB0;;
}

#expr {
	color: #1173DC;
}

#interests {
	background-color: #FF9E0D;
}

li.intereven {
	background-color: #E08B0B;
}

#inter {
	color: #FF9E0D;
} */

#natural_langs {
	display: none;
}

#experience li, {
	padding-bottom: 2%;
}

#experience ul > li, #awards ul > li, #projects ul > li {
	padding-bottom: 1.5%;
}

#experience ul > li:not(.place), #awards ul > li:not(.place), #projects ul > li:not(.place) {
	list-style: disc outside;
	margin-left: 5%;
}

li.place {
	color: #0A170F;
	list-style: none;
	padding-top: 0%;
	font-weight: lighter;
	font-style: italic;
}

ul.even li.place {
	color: #5E2F19; /* #050202; */
}



ul.langs {
	display: inline;
}

li a {
	color: #0A170F; /*#43A168;*/
	font-size: 100%;
	font-style: normal;
}
